In [1]:
# Declare an empty list

lst = []

In [22]:
# Declare a list with more than 5 items

cars = ['Ford', 'Toyota', 'Nissan', 'Volvo', 'Honda']

In [23]:
# Find the length of your list

print(len(cars))

5

In [25]:
# Get the first item, the middle item and the last item of the list

first_car = cars[0]
print(first_car)
second_car = cars[2]
print(second_car)
third_car = cars[4]
print(third_car)

Ford
Nissan
Honda

In [26]:
# Declare a list called mixed_data_types, put your(name, age, height, marital status, address)

mixed_data_types = ['Rickard', 36, 177, 'relationship', 'Hammartorpsvägen']

In [27]:
# Declare a list variable named it_companies and assign initial values Facebook, Google, Microsoft, Apple, IBM, Oracle and Amazon.

it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [28]:
# Print the list using print()

print(mixed_data_types)

['Rickard', 36, 177, 'relationship', 'Hammartorpsvägen']

In [29]:
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [30]:
# Print the number of companies in the list

print(len(it_companies))

7

In [38]:
# Print the first, middle and last company
first = it_companies[0]
second = it_companies[len(it_companies)//2]
third = it_companies[4]

print(first, second, third)

Facebook Apple IBM

In [40]:
# Print the list after modifying one of the companies
it_companies[0] = 'Tesla'
print(it_companies)

['Tesla', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [41]:
# Add an IT company to it_companies

it_companies.append('Applovin')
print(it_companies)

['Tesla', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon', 'Applovin']

In [46]:
# Insert an IT company in the middle of the companies list

it_companies.insert(4, 'Nvidia')
print(it_companies)

['Tesla', 'Google', 'Microsoft', 'Apple', 'Nvidia', 'Nvidia', 'IBM', 'Oracle', 'Amazon', 'Applovin']

In [48]:
# Change one of the it_companies names to uppercase (IBM excluded!)

it_companies[4].upper()

'NVIDIA'

In [49]:
# Join the it_companies with a string '#;  '

joined_companies = '#;  '.join(it_companies)
print(joined_companies)

Tesla#;  Google#;  Microsoft#;  Apple#;  Nvidia#;  Nvidia#;  IBM#;  Oracle#;  Amazon#;  Applovin

In [52]:
# Check if a certain company exists in the it_companies list.

if 'Tesla' in it_companies:
    print(True)

True

In [59]:
# Sort the list using sort() method
it_companies.sort()
print(it_companies)

['Amazon', 'Apple', 'Applovin', 'Google', 'IBM', 'Microsoft', 'Nvidia', 'Nvidia', 'Oracle', 'Tesla']

In [72]:
# Reverse the list in descending order using reverse() method
it_companies.sort(reverse=True)
print(it_companies)

['Tesla', 'Oracle', 'Nvidia', 'Nvidia', 'Microsoft', 'IBM', 'Google', 'Applovin', 'Apple', 'Amazon']

In [74]:
# Slice out the first 3 companies from the list
it_companies[3:]

['Nvidia', 'Microsoft', 'IBM', 'Google', 'Applovin', 'Apple', 'Amazon']

In [81]:
# Slice out the last 3 companies from the list
it_companies[-3:]

['Applovin', 'Apple', 'Amazon']

In [100]:
# Slice out the middle IT company or companies from the list
n = len(it_companies)
mid = n // 2

if n % 2 == 0:
    middle_companies = it_companies[mid-1:mid+1]
else:
    middle_companies = it_companies[mid:mid+1]

print(middle_companies)

['Microsoft', 'IBM']

In [101]:
# Remove the first IT company from the list

del it_companies[0]

In [ ]:
# Remove the middle IT company or companies from the list
it_companies.remove('IBM')

In [111]:
# Remove the last IT company from the list
del it_companies[-1]

In [ ]:
# Remove all IT companies from the list
it_companies.clear()

In [ ]:
# Destroy the IT companies list
del it_companies

In [115]:
# Join the following lists: 
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']

corporates = front_end + back_end

In [119]:
# After joining the lists in question 26. Copy the joined list and assign it to a variable full_stack, then insert Python and SQL after Redux.
full_stack = corporates

full_stack.insert(5, 'Python')
full_stack.insert(6, 'SQL')

In [122]:
# The following is a list of 10 students ages:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

- Sort the list and find the min and max age
- Add the min age and the max age again to the list
- Find the median age (one middle item or two middle items divided by two)
- Find the average age (sum of all items divided by their number )
- Find the range of the ages (max minus min)
- Compare the value of (min - average) and (max - average), use abs() method
- Find the middle country(ies) in the countries list
- Divide the countries list into two equal lists if it is even if not one more country for the first half.
- ['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']. Unpack the first three countries and the rest as scandic countries.

In [ ]:
average = 370 / 16
print(average)

23.125

TypeError: unsupported operand type(s) for -: 'builtin_function_or_method' and 'int'